body {
    background-color: cadetblue
}
div.form {
    text-align: center;
    width: 50%;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 90px;
    height: 90px;
    float: left;
}

#idCard {
    border: 5px solid black;
    height: 14em;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: lightpink;
    border-radius: 25px;
    font-family: 'Bodoni MT', Tahoma, Geneva, Verdana, sans-serif;
}
#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#postFullName {
    text-align: center;
    font-size: 32px;
    margin-right: 25px
}

#postAge {
    text-align:left;
    margin-left:4px
}

#postPhoneNumber {
    text-align: left;
    margin-left: 4px
}

#postAddress {
    text-align: left;
    margin-left: 4px
}